h1 {
    text-align: center;
    color: blue;
}
.container {
    background-color: lightcoral;
    width: 480px;
    height: 500px;
    border: 6px solid blueviolet;
    border-radius: 20px;
}
input {
    background-color: aqua;
    height: 50px;
    width: 380px;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin: 40px;
    border: 6px solid black;
    border-radius: 10px;
}
.btn {
    color: black;
    height: 52px;
    width: 65px;
    border: 4px solid lawngreen;
    border-radius: 7px;
    margin: 3px;
    font-weight: bold;
    font-size: 20px;
    
}